In [ ]:
#Importação das bibliotecas
import org.apache.iceberg.spark.SparkSchemaUtil
import org.apache.iceberg.catalog.Namespace

In [ ]:
#Inicializar uma sessão do Spark
spark = SparkSession.builder \
    .appName("Tabela Iceberg") \
    .config("spark.sql.catalog.default", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog") \
    .getOrCreate()

In [ ]:
#Como criar uma tabela no Iceberg a seguir:

In [ ]:
#Ler o arquivo CSV e criar o DataFrame
df = spark.read.csv("work/CarPrice_Assignment (2).csv", header=True, inferSchema=True)

In [ ]:
#Criar os dados fictícios
dados_ficticios = [
  Row(car_ID=206, CarName='toyota camry', fueltype='gas', doornumber='four', carbody='sedan', enginelocation='front', price=20000),
  Row(car_ID=207, CarName='honda accord', fueltype='gas', doornumber='two', carbody='convertible', enginelocation='front', price=25000),
  Row(car_ID=208, CarName='ford mustang', fueltype='gas', doornumber='two', carbody='hatchback', enginelocation='rear', price=30000)
]

In [ ]:
#Criar DataFrame com os dados fictícios
dados_ficticios_df = spark.createDataFrame(dados_ficticios)

In [ ]:
#Unir os dados do CSV com os dados fictícios
novo_df = df_csv.union(dados_ficticios_df)

In [ ]:
#Salvar os dados na tabela Iceberg
novo_df.write.format("iceberg") \
  .mode("overwrite") \  #Sobrescrever a tabela existente
  .save("Tabela Iceberg")

In [ ]:
#Como fazer um UPDATE na tabela Iceberg

In [ ]:
#Ler os dados da tabela Iceberg para um DataFrame
df_iceberg = spark.read.format("iceberg").load("work/CarPrice_Assignment (2).csv")

In [ ]:
#Fazer as atualizações desejadas no DataFrame. Vamos supor que gostariamos de atualizar o preço do carro com car_ID igual a 206 para 22000
df_iceberg = df_iceberg.withColumn("price", 
                                 when(df_iceberg["car_ID"] == 206, 22000)
                                 .otherwise(df_iceberg["price"]))

In [ ]:
#Salvar o DataFrame atualizado de volta na tabela Iceberg
df_iceberg.write.format("iceberg") \
  .mode("overwrite") \  # Sobrescrever os dados existentes
  .save("Tabela Iceberg")

In [ ]:
#Como fazer um DELETE na tabela Iceberg

In [ ]:
#Ler os dados da tabela Iceberg para um DataFrame
df_iceberg = spark.read.format("iceberg").load("work/CarPrice_Assignment (2).csv")

In [ ]:
#Aplicar a condição para filtrar os dados que você deseja excluir. Vamos supor que gostariamos de excluir o carro com car_ID igual a 206
df_iceberg = df_iceberg.filter(df_iceberg["car_ID"] != 206)

In [ ]:
#Salvar o DataFrame filtrado de volta na tabela Iceberg
df_iceberg.write.format("iceberg") \
  .mode("overwrite") \  # Sobrescrever os dados existentes
  .save("Tabela Iceberg")