In [ ]:
#Instalação do Delta, PySpark e Apache Iceberg
pip install pyspark

In [ ]:
pip instal delta

In [ ]:
# Importar bibliotecas para usar o Pyspark e Delta
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

In [ ]:
#Iniciar uma sessão no pyspark
spark = ( 
  SparkSession
  .builder
  .appName("DeltaLake")
  .getOrCreate() 
)

In [ ]:
#Como criar uma tabela no DeltaLake a seguir

In [ ]:
#Importar um arquivo CSV
df = spark.read.csv("work/CarPrice_Assignment (2).csv", header=True, inferSchema=True)

In [ ]:
#Criar uma tabela temporária a partir do DataFrame
df.createOrReplaceTempView("carros")

In [ ]:
#Executar uma consulta SQL na tabela temporária
resultado = spark.sql("SELECT * FROM carros WHERE fueltype = 'gas'")
resultado.show()

In [ ]:
#Criar a tabela temporária a partir do DataFrame df
df.createOrReplaceTempView("carros")

In [ ]:
#Criar um DataFrame com os dados fictícios   
dados_ficticios = [
    Row(car_ID=206, CarName='toyota camry', fueltype='gas', doornumber='four', carbody='sedan', enginelocation='front', price=20000),
    Row(car_ID=207, CarName='honda accord', fueltype='gas', doornumber='two', carbody='convertible', enginelocation='front', price=25000),
    Row(car_ID=208, CarName='ford mustang', fueltype='gas', doornumber='two', carbody='hatchback', enginelocation='rear', price=30000),
    ]
dados_ficticios_df = spark.createDataFrame(dados_ficticios)

In [ ]:
#Adicionar os dados fictícios à tabela temporária existente
dados_ficticios_df.write.mode("append").insertInto("carros")

In [ ]:
#Verificar se os dados foram adicionados corretamente à tabela temporária
spark.sql("SELECT * FROM carros").show()

In [ ]:
#Como fazer um UPDATE a seguir:

In [ ]:
#Ler os dados da tabela temporária "carros" em um DataFrame
df_carros = spark.sql("SELECT * FROM carros")

In [ ]:
#Atualizar o preço dos carros da marca "Toyota" para um novo preço
df_atualizado = df_carros.withColumn("price", when(df_carros["CarName"].like("%toyota%"), novo_preco_toyota).otherwise(df_carros["price"]))

In [ ]:
#Criar uma nova tabela temporária ou substituir a tabela temporária existente pelo DataFrame atualizado
df_atualizado.createOrReplaceTempView("carros")

In [ ]:
#Verificar se os dados foram atualizados corretamente na tabela temporária
spark.sql("SELECT * FROM carros").show()

In [ ]:
#Como fazer um DELETE a seguir:

In [ ]:
#Ler os dados da tabela temporária "carros" em um DataFrame
df_carros = spark.sql("SELECT * FROM carros")

In [ ]:
#Excluir os carros da marca "Toyota"
df_atualizado = df_carros.filter(~df_carros["CarName"].like("%toyota%"))

In [ ]:
#Criar uma nova tabela temporária ou substituir a tabela temporária existente pelo DataFrame atualizado
df_atualizado.createOrReplaceTempView("carros")

In [ ]:
#Verificar se os dados foram excluídos corretamente na tabela temporária
spark.sql("SELECT * FROM carros").show()